button{
    width: 200px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(92, 90, 90);
}

.boton-click{
    background-color:gold;
}

.boton-reiniciar{
    background-color: gold;
}