*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

html,body{
    background-color: rgb(39, 34, 34);
}

.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-family: Lato, sans-serif;
}

.contendedor-logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px; 
}

.logo-contador{
   height: 150px;
}